.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.Main__Grid {
  display: grid;
  grid-template-columns: minmax(24px,1fr) minmax(300px,860px) minmax(24px,1fr);
}

main,
nav{
  grid-column: 2/3;
  margin-bottom: 4rem;
}

main {
  min-height: 100vh;
}


.Nav__Item > button {
  font-weight: var(--semibold);
  font-family: var(--ibm);
  font-size: var(--body);
  border: 0;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.Nav__Item > button:hover {
  background-color: #FEFEEF;
}

/*pink theme styles*/
.Pink, 
.Nav__Pink {
  background-color: var(--pink);
  color: var(--brick);
}

.Pink > h6 {
  color: var(--dark-red);
  border-color: var(--dark-red);
}

.Nav__Pink button {
  border-color: var(--brick);
  color: var(--brick);
}

.Nav__Pink a {
  color: var(--brick);
}

.Nav__Pink a:active,
.Nav__Pink a:visited,
.Nav__Pink a:focus {
  color: var(--brick);
}

li > a{
  padding-left: 0;
  margin-left: 0;
}

.Pink li.active {
  background: url('/images/red-ball.svg') no-repeat left center;
}

.Nav__Pink a:hover {
  text-decoration: underline;
  color: var(--dark-red);
}

div.Pink {
  border-bottom: 1px dotted var(--light-red);
}
/*periwinkle theme styles*/
.Periwinkle {
  background-color: var(--periwinkle);
  color: var(--purple);
  background-image: url('/images/cyansquiggle.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.Nav__Periwinkle,
.Nav__Periwinkle button{
  background-color: var(--periwinkle);
  color: var(--purple);
}

.Periwinkle > h6 {
  color: var(--dark-purple);
  border-color: var(--dark-purple);
}

.Periwinkle a {
  color: var(--purple);
}

.Nav__Periwinkle a:active,
.Nav__Periwinkle a:visited,
.Nav__Periwinkle a:focus {
  color: var(--purple);
}

.Nav__Periwinkle li.active {
  background: url('/images/purple-ball.svg') no-repeat left center;
}

.Nav__Periwinkle a:hover {
  text-decoration: underline;
  color: var(--dark-purple);
}

div.Periwinkle {
  border-bottom: 1px dotted var(--dark-purple)
}

/*gradient theme*/
.Gradient, 
.Nav__.Gradient {
  background-color: #FFF;
  color: var(--black);
}

.Gradient h1 {
  font-weight: var(--bold);
  background: linear-gradient(46.95deg, var(--bright-purple) 10.25%, var(--fuschia) 30.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.Gradient > h6 {
  color: var(--black);
  border-color: var(--black);
}

.Nav__Gradient a,
.Nav__Gradient a:active,
.Nav__Gradient a:visited,
.Nav__Gradient a:focus {
  color: var(--black);
}

.Gradient a,
.Gradient a:active,
.Gradient a:visited,
.Gradient a:focus {
  color: var(--bright-purple);
}

.Gradient a:hover {
  color: var(--dark-purple)
}

.Gradient li.active {
  background: url('/images/red-ball.svg') no-repeat left center;
}

.Nav__Gradient a:hover {
  text-decoration: underline;
  color: var(--bright-purple);
}

div.Gradient {
  border-bottom: 1px dotted var(--light-purple);
}

/*mint theme style. everything else matches pink theme*/
.Mint {
  background-color: var(--mint);
  color: var(--dark-purple);
}



.Nav__Mint,
.Nav__Mint button {
  background-color: var(--mint);
  color: var(--dark-purple);
}

.Mint > h6 {
  color: var(--dark-purple);
  border-color: var(--purple);
}

.Nav__Mint a {
  color: var(--dark-purple);
}

.Nav__Mint a:active,
.Nav__Mint a:visited,
.Nav__Mint a:focus {
  color: var(--dark-purple);
}

.Mint li.active {
  background: url('/images/red-ball.svg') no-repeat left center;
}

.Nav__Mint a:hover {
  text-decoration: underline;
  color: var(--purple);
}

div.Mint {
  border-bottom: 1px dotted var(--dark-purple);
}

.Mint .Empty {
  padding: 5rem;
  text-align: center;
  border: 1px solid var(--dark-blue);
}


/*homepage header styles*/
nav.Nav__Main {
  margin:0;
  padding:0;
  font-size: var(--h5);
}

ul.Nav__Main,
ul.Nav__Right,
.Auth > ul {
  grid-column: 2/3;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-weight: var(--semibold);
  list-style-type: none;
}

ul.Nav__Main {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

ul.Nav__Right {
  padding-top: 0;
  justify-content: space-between;
  gap: 2.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

nav.Nav__Main  a {
  text-decoration: none;
}


ul.Nav__Main  > li {
  list-style: none;
}

header.Name {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.Intro__Text-Wrapper {
  background-color: #fff;
  padding: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 60%;
  margin-left: 2rem;
  position: relative;
  z-index:2;
}

/*.Intro:after*/
.Intro:after {
  position: absolute;
  max-width: 92%;
  width: 860px;
  top: 300px;
  height: 410px;
  z-index: 1;
  content: '';
  background-image: url('/images/yellownoise.svg');
}

.Intro__Links-Wrapper {
  position: absolute;
  max-width: 55%;
  width: 200px;
  height: 350px;
  top: 270px;
  margin-left: 50%;
}

.Accent {
  position: absolute;
  max-width: 92%;
  width: 860px;
}

.Accent > img {
  position: absolute;
  top: -30px;
  left: 600px;
  z-index: 3;
}

article.Links {
  margin-top: 1rem;
  margin-left: 2rem;
  position: relative;
  z-index: 2;
}

nav.Nav__External {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  width: fit-content;
  flex-wrap: wrap;
}

nav.Nav__External a {
  color: #fff;
  background-color: var(--bright-purple);
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  padding-right: 1.15rem;
  padding-left: 1.15rem;
  text-decoration: none;
  transition: 250ms linear;
}

nav.Nav__External a:active,
nav.Nav__External a:visited {
  background-color: var(--bright-purple);
  color: #fff;
}

nav.Nav__External a:hover {
  transform: translateY(-5px);
  animation: change-color 8000ms infinite;
  text-decoration: none;
  color: #fff;
}

@keyframes change-color {
  0% {
    background-color: var(--bright-purple);
  }
  25% {
    background-color: var(--dark-purple);
  }
  50% {
    background-color: #51928E;
  }
  75% {
    background-color: #5BA0AF;
  }
  50% {
    background-color: var(--bright-purple);
  }
}

/*homepage resume styles*/
article.Resume {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.Resume__Side-Wrapper {
  width: 30%;
}

.Resume__Main-Wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.Resume__Role-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: inherit;
}

.Resume__Experience {
  margin-bottom: 1.5rem;
}

.Resume__Role-Wrapper > p,
.Resume__Experience > p,
.Resume__Education > p
 {
  flex-shrink: 0;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.Resume__Toolbox li,
.Resume__Toolbox ul {
  margin: 0.5rem;
  padding: 0;
}

p.No-Year {
  width: 100%;
}

div.Line {
  width: 100%;
  display: flex;
  height: 1px;
}

/*code page styling*/
.Proj__Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

article.Proj img.Proj__Img {
  transition: transform 250ms;
}

article.Proj:hover img.Proj__Img {
  transform: translateY(-5px);
}

article.Proj:hover .Proj__Desc-Wrapper {
  animation: 0.5s flip;
  animation-fill-mode: forwards;
}

article.Proj:hover .Proj__Img-Wrapper:before {
  animation: 0.5s flip;
  animation-fill-mode: forwards;
}

article.Proj:hover a.Proj__Link {
  animation: 0.5s white;
  animation-fill-mode: forwards;
}

article.Proj:hover .Proj__Links > a,
article.Proj:hover,
article.Proj:hover > *,
article.Proj:hover a {
  animation: 0.5s white;
  animation-fill-mode: forwards;
}

@keyframes flip {
  from {
    background-color: #fff;
  }
  to {
    background-color: var(--dark-purple);
  }
}

@keyframes white {
  from {
    color: var(--purple);
  }
  to {
    color: #fff;
  }
}

.Proj__Img-Wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Proj__Img-Wrapper:before {
  content: '';
  position: absolute;
  width: 100%;
  top: 70px;
  z-index: 0;
  background-color: #fff;
  height: 150px;
}

img.Proj__Img {
  max-width: 350px;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.Proj__Links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a.Proj__Link,
a.Proj__Link:active,
a.Proj__Link:visited {
  text-decoration: none;
}

.Proj__Desc-Wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: #fff;
  box-sizing: border-box;
  width:100%;
}

.Blog {
  max-width: 600px;
}

/*blog */
.Post__Header-Wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0rem;
}

.Post__Header-Wrapper > h1,
.Post__Header-Wrapper > p {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Header__Metadata-Wrapper,
.Header__Metadata-Wrapper > p {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.Header__Metadata-Wrapper,
.Header__Metadata-Wrapper > p {
  margin: 0;
  padding: 0;
}

.Post__Content {
  margin-top: 3rem;
  padding-bottom: 3.5rem;
  border-bottom: 1px solid var(--light-purple);
  margin-bottom: 3rem;
}

.Loading > p {
  animation: loading 3s linear;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
      opacity: 0.25;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0.25;
  }
}

.Comment {
  margin-bottom: 2rem;
}

.Comment__Metadata-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.Comment__Metadata,
p.Comment__Metadata {
  font-size: var(--h6);
  text-transform: uppercase;
  color: var(--light-purple);
  margin: 0;
}

.Form__Comment {
  box-shadow: 0px 0px 8px rgba(164, 164, 164, 0.25);
  background-color: #fff;
  padding-bottom: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.Form__Comment > Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Form__Comment p {
  margin: 0;
}

/*design page*/


/*auth pages*/
.Auth--Wrapper {
  border: 1px solid;
  padding: 0 2rem 2rem 2rem;
  width: 400px;
}

main.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Instructions > p {
  margin-bottom: 3rem;
}


.Auth > ul {
  gap: 2rem;
}

nav.Auth {
  margin: 0 0 1.5rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--light-purple)
}

.Auth > ul {
  padding: 1rem 0 1rem 0;
}

.Auth__Link > a,
.Auth__Link > a:visited,
.Auth__Link > a:active {
  color: var(--dark-purple);
}

.Auth__Link > a:hover {
  color: var(--purple);
}

.Auth__Container > * {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap:0.5rem;
}

.Auth__Container > h5 {
  text-align: center;
  margin-bottom: 1rem;
}

.Auth__Container > p {
  text-align: center;
  margin-bottom: 0;
}

a.Active,
a.Active:hover,
a.Active:visited,
a.Active:active {
  text-decoration: underline;
  font-weight: var(--bold);
  color: var(--bright-purple);
}

/*forms*/
.Auth__Container > .Error,
form > p {
  color: red;
  margin: 0;
}

form > h5 {
  margin-bottom: 1rem;
}

label {
  margin-top: 0.5rem;
}

input {
  padding: 0.5rem;
  font-family: var(--ibm);
  border: 1px solid var(--light-purple);
}

form > button {
  padding: 0.5rem;
  margin-top: 1rem;
  font-family: var(--ibm);
  font-size: var(--body);
  color: #fff;
  background-color: var(--purple);
  border: none;
}

form > button:hover,
form > button:focus {
  background-color: var(--dark-purple);
  cursor: pointer;
}


/*media queries*/
@media only screen and (max-width: 845px) {
  .Accent {
    width: 600px;
  }
  .Accent > img {
    top: -40px;
    left: 160px;
  }
  header.Post__Header:after {
    left: 52px;
  }
}

@media only screen and (max-width: 600px) {
  .Intro__Text-Wrapper {
    width:72%;
  }
  .Intro::after {
    height: 470px;
  }
  article.Resume {
    flex-direction: column;
  }
  .Resume__Side-Wrapper,
  .Resume__Main-Wrapper {
    width: 100%;
  }
  ul.Nav__Right {
    gap: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: var(--h3);
  }
  .Intro__Text-Wrapper {
    max-width:100%;
    margin-left: 1rem;
  }
  .Intro::after {
    height: 540px;
    width: 320px;
  }
  article.Links {
    margin-left: 0rem;
  }
  article.Resume {
    margin-top: 8rem;
  }
  .Accent > img {
    top: -40px;
    left: 120px;
  }
}


