extends layout

block content
  h1 Sign in
  form(method='POST' action='')
    label(for='username') Username 
    input(type="text" name="username")
    label(for='password') Password
    input(type="password" name="password")
    button Sign in
  if user 
    p You are signed in